@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;700&display=swap');

body{
  /*background-color: #3f51b561;*/
}

a{
  text-decoration: none;
  color: white;
}

.app-wrapper{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "header header header"
  "nav content content";
  /*"footer footer footer";*/
  grid-template-rows:  60px 1fr ;
  grid-template-columns: 2fr 10fr ;
  grid-gap: 10px;

  min-height: 72vh;
}

.app-wrapper-content{
  /*padding: 15px 15px;*/
  grid-area: content;
  background-color: rgba(192, 186, 248, 0.904);
  /*box-shadow: inset 1px 1px 24px -6px #3f51b5;*/
  min-height: 73.5vh;
  margin-bottom: 10px;
}